## Build & Output
[Bb]in/
[Oo]bj/
publish/
publish-selfcontained/
*.user
*.userosscache
*.suo
.vs/
.idea/
.vscode/

## Packages
*.nupkg
*.snupkg
packages/

## Operating System
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

## Release Archives
*.zip
*.7z
*.rar
